<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cosmetics</title>
</head>
<body>
<form action="#"
      th:action="@{/processcosmetics}"
      th:object="${addcosmetics}"
      method="post">
    <h2>Cosmetics</h2><br />

    <input type="hidden" th:field="*{id}" />
    Item Name :<input type="text" th:field="*{cosmeticsname}" />
    <span th:if="${#fields.hasErrors('cosmeticsname')}"
          th:errors="*{cosmeticsname}"></span><br />
    Brand :<input type="text" th:field="*{cosmeticsbrand}" />
    <span th:if="${#fields.hasErrors('cosmeticsbrand')}"
          th:errors="*{cosmeticsbrand}"></span><br />

    Price :<input type="text" th:field="*{cosmeticsprice}" />
    <span th:if="${#fields.hasErrors('cosmeticsprice')}"
          th:errors="*{cosmeticsprice}"></span><br />

    Popularity :<input type="text" th:field="*{cosmeticspopularity}" />
    <span th:if="${#fields.hasErrors('cosmeticspopularity')}"
          th:errors="*{cosmeticspopularity}"></span><br />

    Quantity :<input type="text" th:field="*{cosmeticsquantity} " />
    <span th:if="${#fields.hasErrors('cosmeticsquantity')}"
          th:errors="*{cosmeticsquantity}"></span><br />

    <br />
    <input type="submit" value="ADD Entry" />
    <br />
</form>
<table>

    <tr th:each="cosmetics : ${cosmetic}">
        Item Name: <span th:text="${cosmetics.cosmeticsname}"></span><br />
        Brand: <span th:text="${cosmetics.cosmeticsbrand}"></span><br />
        Unit Price: <span th:text="${cosmetics.cosmeticsprice}"></span><br />
        Popularity: <span th:text="${cosmetics.cosmeticspopularity}"></span><br />
        Quantities: <span th:text="${cosmetics.cosmeticsquantity}"></span><br />
        Total Price: <span th:text="${cosmetics.totalprice}"></span><br /><br /><br />
    </tr>
</table>
<a th:href="@{/addcleaning}">Cleaning Items</a>
<a th:href="@{/addsnacks}">Snack Items</a>
<a th:href="@{/inventorycompletion}">Complete Inventory</a>

</body>
</html>